.file-container {
    background-color: #fafbfc;
    .text-title {
        @extend %title;
    }
    .text-p-small {
        @extend %p-small;
    }
}
.stall-point-table {
    & thead th {
        background-color: #fafbfc;
        border-top: 0;
        border-bottom: 0;
        @extend %p-small;

    }
}
.table-area {
    .table-body {
        margin: 8px;
        background: #fff;
        tr {
            @extend %p-secondary;
            height: 64px;
            vertical-align: middle;
            background: transparent;
            td {
                border-top: 1px solid #fafbfc;
                margin-bottom: 0;
                padding-top: 22px;
                cursor: default;
                &:nth-child(1) {
                    @extend %header-small;
                }
                // &:nth-child(2) {
                //     width: 288px;
                // }
                &:nth-child(3) {
                    max-width: 500px;
                    width: 500px;
                    overflow: hidden;
                    text-overflow:ellipsis;
                    white-space: nowrap;
                }
                &:nth-last-child(1) {
                    cursor: pointer;
                }
                img {
                    width: 24px;
                    height: 24px;
                }
            }
            &:nth-child(1) {
                min-width: 131px;
                td {
                    border-top: 0;
                }
            }
        }
    }
}
input.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile + label {
    margin-bottom: 0;
    width: 80px;
    height: 32px;
    text-align: center;
    vertical-align: center;
    background: #3172E0;
    border-radius: 4px;
    font-family: PingFangSC-Medium;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    line-height: 32px;
    cursor: pointer;
}
.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #0083f7;
}
.upload-file {
	margin-left: 2px;
	margin-bottom: 0;
    width: 80px;
    height: 32px;
    text-align: center;
    vertical-align: center;
    background: #3172E0;
    border-radius: 4px;
    font-family: PingFangSC-Medium;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    line-height: 32px;
}
