{{#bp-layout direction="col" classNames='p-4 file-container'}}
    {{#bp-layout direction='row'}}
        <p class="text-p-small">返回</p>
    {{/bp-layout}}
    {{#bp-layout direction='row' main='between' cross='center' classNames='bg-white p-4 mt-4 mb-4'}}
        <p class="text-title">文件管理</p>
        {{#bp-layout direction='row'}}
            <input type="file" name="file" id="file" class="inputfile" />
            <label for="file">上传文件</label>
        {{/bp-layout}}
    {{/bp-layout}}
    {{#bp-layout direction='col' classNames='table-area'}}
        <table class="table stall-point-table bg-white">
            <thead class="table-head">
                <th>文件名称</th>
                <th>修改时间</th>
                <th>描述</th>
                <th>操作</th>
            </thead>
            <tbody class="table-body">
                <tr local-class="title m-2">
                    <td>
                        {{#bp-layout cross="center"}}
                    		<img src='/images/icon_generic_medium@3x.png' alt="" class="file-name-img">
                    		<span class="ml-2 name">Document-1</span>
                    	{{/bp-layout}}
                    </td>
                    <td>2019-04-02</td>
                    <td>我是一句文件描述我是一句文件描述我是一句文件描述我会省略</td>
                    <td><img src='/images/icon_download.png' alt=""></td>
                </tr>
                <tr local-class="title m-2">
                    <td>
                        {{#bp-layout cross="center"}}
                        <img src='/images/icon_generic_medium@3x.png' alt="" class="file-name-img">
                        <span class="ml-2 name">Document-2</span>
                    	{{/bp-layout}}
                    </td>
                    <td>2019-04-02</td>
                    <td>我是一句文件描述</td>
                    <td><img src='/images/icon_download.png' alt=""></td>
                </tr>
            </tbody>
        </table>
    {{/bp-layout}}
{{/bp-layout}}
{{outlet}}
