{{#bp-layout direction='row' main='center' classNames='login-page-warper'}}
    {{#bp-layout direction='row' classNames='login-page'}}
        {{#bp-layout direction='row' main="center" classNames='login-sub-container'}}
            {{#bp-layout direction='col' main='center' classNames='login-area'}}
                <p class="title">MAX 文件管理</p>
                <p class="subtitle">不止于数据，让决策更精彩</p>
                {{returned-page content=model.page}}
            {{/bp-layout}}
        {{/bp-layout}}
        {{#bp-layout direction='row' classNames='login-sub-container'}}
            {{#bp-layout direction='col' main='center' classNames='img-area'}}
                <img src="/images/img_pharbers-login.png" alt="">
            {{/bp-layout}}
        {{/bp-layout}}
    {{/bp-layout}}
{{/bp-layout}}